<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-avatar style="margin: 15px">
      <img src="https://i.imgur.com/UbR8IXF.jpg">
    </ion-avatar>
    <ion-label style="margin: 15px">Jennifer Mashaal</ion-label>

  <ion-list>
    
      <div style="margin: 15px">About</div>
      <div style="margin: 32px"><ion-icon name="home"></ion-icon>Lives in Montreal, Canada</div>
   

      <div style="margin: 15px">Jennifer provided</div>
      <div style="margin: 32px"><ion-icon name="checkmark-circle-outline"></ion-icon>Email address
      <ion-icon name="checkmark-circle-outline"></ion-icon>Phone number</div>
   
    
     <div style="margin: 15px">Bookings</div>
      <div style="margin: 32px"><ion-icon name="book"></ion-icon>26</div>
       

      <div style="margin: 15px">Reviews</div>
      <div style="margin: 32px"><ion-icon name="create"></ion-icon>7</div>
          

    
  </ion-list>


</ion-content>
