<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-chip>
        <ion-avatar>
          <img src="https://i.imgur.com/UbR8IXF.jpg">
        </ion-avatar>
        <ion-label>Jennifer Mashaal</ion-label>
      </ion-chip>

  <ion-list>
    <ion-item>
      <ion-header>About</ion-header>
      lives in Montreal, Canada
    </ion-item> 

    <ion-item>
        <ion-header>Provided</ion-header>
        email 
        phone number
      </ion-item> 
    
      <ion-item>
        <ion-header>Bookings</ion-header>
        26
      </ion-item>

      <ion-item>
          <ion-header>Reviews</ion-header>
          7
      </ion-item>

    
  </ion-list>


</ion-content>
